@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Header Css style */
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 15px #ccc;
    z-index: 999;
    background: #fff9f4;
}
.banner {
    background: #FFF9F4;
    padding-top: 128px;
    padding-bottom: 50px;
}

.navbar-brand img {
    width: 100%;
}
li.nav-item a {
    color: #363958 !important;
    font-weight: 500;
    margin-right: 16px;
}
li.nav-item a:hover {
    color: #fa804c !important;
    transition: .5s;
}
/* Banner Section */
.right-banner img {
    width: 100%;
}
span.left-color {
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    color: #FA804C;
}
.left-banner h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 80px;
    color: #363958;
}
span.left-color p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #3E3E3E;
}
button.btn.btn-primary.custom {
    background: #fa804c;
    border: none;
    padding: 10px 35px;
    font-size: 18px;
    text-transform: uppercase;
}
.left-banner {
    margin-left: 75px;
}
/* CASUAL SHOES */
.single-shoes img {
    width: 100%;
    background: #F1F1F1;
    border-radius: 20px;
    margin-bottom: 15px;
}
.single-shoes {
    background: #fff;
    box-shadow: 0 0 10px 0px #efebeb;
    padding: 15px;
    border-radius: 10px;
}
.shoes-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shoes-details h4 {
    font-size: 31px;
    margin: 12px 0;
    color: #fa804c;
    font-weight: 600;
}
/* Delivery Process Style */
.delivery-left img {
    width: 100%;
}
.d-icons img {
    width: 75%;
}
.delivery-right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 31px 0px #e8e8e8;
    padding: 10px;
    margin: 20px 0;
    border-radius: 10px;
}
.d-text h5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #363958;
}
.d-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #3E3E3E;
}
/* Footer Section */
.footer-section {
    background: #363958;
    text-align: center;
}
h2.footer-title {
    padding-top: 20px;
    color: #fff;
    font-weight: 700;
    font-size: 35px;
    line-height: 30px;
}
.footer p {
    color: #fff;
    line-height: 25px;
    font-size: 15px;
}
.footer a {
    color: #fa804c;
}